//Font Stack

$font-family--primary: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;






//Colors


$background-color: #EDEFED;
$font-color-primary: #fff;
$font-color--secondary: #565A5C;
$color-accent: #FF5A5F;
